body{
    background-color: rgb(34, 33, 37);
}
#topbar {
    width: 100%;
    align-items: center;
    text-align: center;
    height:20vh;
}
#loginButton {
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 2px;
}
#signupButton {
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: auto;
}
.websiteTitle{
    color: rgb(255,255,255);
}
#wrapper{
    display: flex;
    flex-direction: row;
}
#optionsRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#elementcontainer{
    display: flex;
    flex-direction: row;
    align-items:center
}
#gridLeft{
    width: 50%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}
.square{
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.square:hover{
    background-color: rgba(253, 193, 43, 0.679);
}
.squareLeftWall{
    border-left: rgb(63, 63, 63) solid 2px;
}
.squareRightWall{
    border-right: rgb(63, 63, 63) solid 2px;
}
.squareTopWall{
    border-top: rgb(63, 63, 63) solid 2px;
}
.squareBottomWall{
    border-bottom: rgb(63, 63, 63) solid 2px;
}

.row{
    display: flex;
    flex-direction: row;
}
.table{
    border-color: green;
    border-style: solid;
    background-color: rgb(226, 87, 224);
    width: 50px;
    height: 50px;
    font-size: 12px;
}
.attribute{
    border-color: green;
    border-style: solid;
    background-color: aqua;
    width: 50px;
    height: 50px;
    font-size: 12px;
}
.relationship{
    border-color: green;
    border-style: solid;
    background-color: rgb(221, 255, 0);
    width: 50px;
    height: 50px;
    font-size: 12px;
}
.internalText{
    border: none;
    background-color: inherit;
    width: inherit;
}
.mySVG{
    position: absolute;
    border: 1px solid red;
    z-index: -1;
}
.SVGLine{
    stroke:rgb(255,255,0);
    stroke-width:2;
}